{% unless template == 'index' or template == 'cart' %}
<ol class="breadcrumb">
	<li><a href="/" class="homepage-link" title="Back to the frontpage">Home</a></li>
	{% if template contains 'product' %}
	{% if collection %}            
	{% if collection.handle %}
	{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
	<li>{{ collection.title | link_to: url }}</li>
	{% endif %}
	{% endif %}
	<li>{{ product.title }}</li>
	{% elsif template contains 'collection' and collection.handle %}
	{% if current_tags %}
	{% capture url %}/collections/{{ collection.handle }}{% endcapture %}
	<li>{{ collection.title | link_to: url }}</li>
	<li>{{ current_tags.first }}</li>
	{% else %}
	<li>{{ collection.title }}</li>
	{% endif %}
	{% elsif template == 'article' %}
	{{ blog.title | link_to: blog.url }}
	<li>{{ article.title }}</li>
	{% elsif template contains 'page' %}
	<li>{{ page.title }}</li>
	{% else %}
	<li>{{ page_title }}</li>
	{% endif %}
</ol>
{% endunless %}