<h5 class="filter-title">Shop by category</h5>
<ul class="filter">
	<li>
		<a href="/collections/all">All</a>
	</li>
	{% for c in collections %}
	{% unless c.handle == 'all' %}
	{% if collection.handle == c.handle %}
	<li class="active">
		<a href="/collections/{{c.handle}}">{{c.title}}</a>
	</li>
	{% else %}
	<li>
		<a href="/collections/{{c.handle}}">{{c.title}}</a>
	</li>
	{% endif %}
	{% endunless %}
	{% endfor %}
</ul>

<h5 class="filter-title">Shop by color</h5>
<ul class="filter">
	{% assign tags = settings.filter_by_color | split: ',' %}

	{% for t in tags %}
	{% assign tag = t | strip %}
	{% if current_tags contains tag %}
	<li class="active">
		{{ tag | link_to_remove_tag: tag }}
	</li>
	{% elsif collection.all_tags contains tag %}
	<li>
		{{ tag | link_to_tag: tag }}
	</li>
	{% endif %}
	{% endfor %}
</ul>
