<footer>
	<ul class="list-inline">
		{% for link in linklists.footer.links %}
		<li><a href="{{ link.url }}">{{ link.title }}</a></li>
		{% endfor %}
	</ul>
	<p role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>
</footer> 