<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-push-4">
				<div class="row">

					{% if settings.footer_display_social %}
					<div class="col-sm-6">
						{% include 'footer-social' %}
					</div>
					{% endif %}

					{% if settings.footer_display_newsletter %}
					<div class="col-sm-6">
						<h4 class="footer-title">{{settings.footer_display_newsletter_title}}</h4>
						{% if settings.newsletter_form_action != blank %}
						{% assign form_action = settings.newsletter_form_action %}
						{% else %}
						{% assign form_action = '#' %}
						{% endif %}
						<form class="newsletter" action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
							<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Sign up to {{ shop.name }} news" name="EMAIL" id="mail" class="form-control" aria-label="Sign up to {{ shop.name }} news" autocorrect="off" autocapitalize="off">
							<i class="fa fa-angle-right"></i>
							<input type="submit" class="email-submit" name="subscribe" id="subscribe" value="Subscribe">
						</form>
					</div>
					{% endif %}

				</div>

				<div class="white-space hidden-xs"></div>

				<div class="row">
					<div class="col-sm-6">
						{{settings.footer_address_1}}
					</div>
					<div class="col-sm-6">
						{{settings.footer_address_2}}
					</div>
				</div>
			</div>

			<div class="col-sm-4 col-sm-pull-8">
				<h4 class="footer-title">{{settings.footer_display_navigation_title}}</h4>
				<ul class="list-unstyled">
					{% for link in linklists.footer.links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<p class="contentinfo" role="contentinfo">
					Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
				</div>	
				<div class="col-sm-6">
					<ul class="credit-cards list-inline">
						{% if settings.accept_visa %}		<li><i class="fa fa-cc-visa fa-2x"></i></li>{% endif %}
						{% if settings.accept_mastercard %}	<li><i class="fa fa-cc-mastercard fa-2x"></i></li>{% endif %}
						{% if settings.accept_amex %}		<li><i class="fa fa-cc-amex fa-2x"></i></li>{% endif %}
						{% if settings.accept_discover%}	<li><i class="fa fa-cc-discover fa-2x"></i></li>{% endif %}
						{% if settings.accept_paypal %}		<li><i class="fa fa-cc-paypal fa-2x"></i></li>{% endif %}
						{% if settings.accept_google %}		<li><i class="fa fa-google-wallet fa-2x"></i></li>{% endif %}
						{% if settings.accept_bitcoin %}	<li><i class="fa fa-btc fa-2x"></i></li>{% endif %}
					</ul>
				</div>	
			</div>

		</div>

	</footer> 