<header>

	<div class="navbar navbar-default navbar-static-top hidden-xs">
		<div class="container">
			<ul class="nav nav navbar-nav">
				{% for link in linklists.toolbar-menu.links %}
				<li {% if link.active %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>

			<div class="navbar-left">
				{% include 'currency-picker' %}
			</div>

			{% comment %}navbar-right{% endcomment %}
			<ul class="nav navbar-nav navbar-right">
				{% if shop.customer_accounts_enabled %}
				{% if customer %}
				<li>
					<a href="/account">{{ customer.first_name }} {{customer.last_name}}</a>
				</li>
				<li>{{ 'Log out' | customer_logout_link }}</li>
				{% else %}
				<li>
					{{ 'Log in' | customer_login_link }}
				</li>
				<li>
					{% if shop.customer_accounts_optional %}
					{{ 'Register' | customer_register_link }}
					{% endif %}
				</li>
				{% endif %}
				{% endif %}
				<li>
					<a href="/cart">
						<i class="ion-bag"></i>
						{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})
					</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="container">

		<h1 class="logo">
			<a href="/">{{ shop.name }}</a>
			<small class="tagline">One of the kind jewelry from Greece</small>
		</h1>
	</div>
</header>