<header>

	<nav class="top-nav cl-effect hidden-xs">
		<div class="container">
			<ul class="list-inline pull-right">
				{% if shop.customer_accounts_enabled %}
				{% if customer %}
				<li>
					<a href="/account"><span class="animate" data-hover="My Account">{{ customer.first_name }} {{customer.last_name}}</span></a>
				</li>
				{% comment %}<li>{{ 'Log out' | customer_logout_link }}</li>{% endcomment %}
				{% else %}
				<li>
					{{ 'Log in' | customer_login_link }}
				</li>
				<li>
					{% if shop.customer_accounts_optional %}
					{{ 'Register' | customer_register_link }}
					{% endif %}
				</li>
				{% endif %}
				{% endif %}
				<li>
					<a href="/pages/wish-list">Wish List</a>
				</li>
				<li>
					<a href="/cart">
						<i class="fa fa-shopping-cart fa-lg"></i>
						{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})
					</a>
				</li>
			</ul>

			<ul class="list-inline">
				{% for link in linklists.toolbar-menu.links %}
				<li {% if link.active %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
				<li>
					{% include 'currency-picker' %}
				</li>
			</ul>

		</div>
	</nav>

	<div class="container hidden-xs">
		{% if settings.use_logo %}
			<a class="header-logo" href="/">
				<img class="img-responsive center-block" width="400" src="{{ 'logo.png' | asset_url }}" alt="{{img_tag: shop.name}}">
			</a>
		{% else %}
			<a class="navbar-brand" href="/">
				{{ shop.name }}
			</a>
		{% endif %}
			{% if template == 'index' %}

			{% comment %}
				Many SEO audit tools look for a h1 tag on the home page. Let's give 'em one.
				Other pages should use the resource name as h1 tag. For example, on the product
				page, the product title will use a h1 tag.
			{% endcomment %}

			<h1 class="hidden">{{ shop.name }}</h1>
		{% endif %}

		{% comment %}<h1 class="logo hidden-xs">
			<a href="/">{{ shop.name }}</a>
			<small class="tagline">One of the kind jewelry from Greece</small>
		</h1>{% endcomment %}
	</div>

</header>