<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">{{ shop.name }}</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<form action="/search" method="get" class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input name="q" type="search" class="form-control" placeholder="Search store..." value="{{ search.terms | escape }}" />
				</div>
			</form>
			<ul class="nav navbar-left navbar-nav">
				{% for link in linklists.main-menu.links %}
				{% assign child_list_handle = link.title | handleize %}
				{% if linklists[child_list_handle].links != blank %}
				<li class="dropdown">
					<a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ link.title }}</a>
					<ul class="dropdown-menu" role="menu">
						{% for childlink in linklists[child_list_handle].links %}
						<li {% if childlink.active %}class="active"{% endif %}>
							<a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				<li {% if link.active %}class="active"{% endif %}>
					<a href="{{ link.url }}">{{ link.title }}</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
		</div>
	</div>
</nav>