{% if product-loop == '' %}{% assign product-loop = 'col-sm-4' %}{% endif %}

<div class="product-list {{ product-loop }}">
	<div class="product-list-thumb">
		<a href="{{ product.url | within: collection }}">
			{% if product.title contains "ring" %}
				<img src="{{ product.featured_image.src | product_img_url: 'compact' }}" alt="{{ product.featured_image.alt | escape }}" />
			{% else %}
				<img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
			{% endif %}
		</a>
	</div>
	<div class="product-list-price">
		{% comment %}{% if product.price_varies %}From{% endif %}
		{{ product.price | money  }}{% endcomment %}

		{% if product.compare_at_price_min > product.price %}
			{{ product.price | money  }}&nbsp;&nbsp;
			<del class="small" style="font-weight:normal;">{{ product.compare_at_price_min | money  }}</del>
		{% else %}
			{{ product.price | money  }}
		{% endif %}

	</div>
	<div class="product-list-title">
		<a href="{{ product.url | within: collection }}">
			{{ product.title }}
		</a>
	</div>
</div>