{% if template contains 'article' or template contains 'blog' %}
{% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
{% capture shareTitle %}{{ article.title }}{% endcapture %}

{% elsif template contains 'product' %}
{% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
{% capture shareTitle %}{{ product.title }}{% endcapture %}

{% endif %}

{% assign shareButtonStyle = settings.social_sharing_style %}

<ul class="list-inline social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">

	<li>Share</li>

	{% if settings.share_facebook %}
	<li>
		<a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook">
			<span class="fa fa-facebook"></span>
			{% if settings.social_sharing_count %}
				<span class="share-title">Share</span>
				<span class="share-count">0</span>
			{% endif %}
		</a>
	</li>
	{% endif %}

	{% if settings.share_twitter %}
	<li>
		<a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle }}" class="share-twitter">
			<span class="fa fa-twitter"></span>
			{% if settings.social_sharing_count %}
				<span class="share-title">Tweet</span>
				<span class="share-count">0</span>
			{% endif %}
		</a>
	</li>
	{% endif %}

	{% if template contains 'product' %}

	{% if settings.share_pinterest %}
	<li>
		<a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media={{ product.featured_image | img_url: 'original' }}&amp;description={{ product.title | escape }}" class="share-pinterest">
			<span class="fa fa-pinterest"></span>
			{% if settings.social_sharing_count %}
				<span class="share-title">Pin it</span>
				<span class="share-count">0</span>
			{% endif %}
		</a>
	</li>
	{% endif %}

	{% comment %}{% if settings.share_fancy %}
	<li>
		<a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ product.title }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | img_url: 'original' }}" class="share-fancy">
			<img src="https://fancy.com/business/data/Color-Icon.png" width="18">
			<span class="icon icon-fancy"></span>
			<span class="share-title">Fancy</span>
		</a>
	</li>
	{% endif %}{% endcomment %}

	{% endif %}

	{% if settings.share_google %}
	<li>
		<a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google">
			<!-- Cannot get Google+ share count with JS yet -->
			<span class="fa fa-google-plus"></span>
			{% if settings.social_sharing_count %}
			<span class="share-count">+1</span>
			{% endif %}
		</a>
	</li>
	{% endif %}

</ul>
