{% layout settings.customer_layout %}

<div id="customer-addresses">

	<div class="page-header">
		<h2>{{ 'customer.addresses.title' | t }}</h2>
	</div> 

	<div class="row">
		
		<div class="col-sm-4">
			<p><a href="/account">Return to Account Details</a></p>
		</div>

		<div class="col-sm-8">

			<div id="address_tables">

				{% paginate customer.addresses by 10 %}

				{% for address in customer.addresses %}
				<div class="address_table well">

					<div id="view_address_{{address.id}}" class="customer_address">

						<h4 class="address_title">
							{{ address.street }} 
							{% if address == customer.default_address %}<span class="default_address note">{{ 'customer.addresses.default' | t }}</span>{% endif %}
						</h4>
						<div class="view_address">
							<p>
								{{ address.company }}<br/>
								{{ address.first_name }} {{address.last_name }}<br/>
								{{ address.street }}<br/>
								{{ address.city }} {% if address.province_code %}, {{ address.province_code }}{% endif %}<br/>
								{{ address.country }} {{ address.zip }}<br/>
								{{ address.phone }}
							</p>
						</div>

						<p class="address_actions">
							<span class="action_link action_edit">{{ 'customer.addresses.edit' | t | edit_customer_address_link: address.id }}</span> | 
							<span class="action_link action_delete">{{ 'customer.addresses.delete' | t | delete_customer_address_link: address.id }}</span>
						</p>
					</div>    
					<div id="edit_address_{{address.id}}" class="customer_address edit_address" style="display:none;">
						{% form 'customer_address', address %}
						<div class="form-group">
							<label for="address_first_name_{{form.id}}">{{ 'customer.addresses.first_name' | t }}</label>
							<input type="text" id="address_first_name_{{form.id}}" class="form-control" name="address[first_name]" value="{{form.first_name}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_last_name_{{form.id}}">{{ 'customer.addresses.last_name' | t }}</label>
							<input type="text" id="address_last_name_{{form.id}}" class="form-control" name="address[last_name]" value="{{form.last_name}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_company_{{form.id}}">{{ 'customer.addresses.company' | t }}</label>
							<input type="text" id="address_company_{{form.id}}" class="form-control" name="address[company]" value="{{form.company}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_address1_{{form.id}}">{{ 'customer.addresses.address1' | t }}</label>
							<input type="text" id="address_address1_{{form.id}}" class="form-control" name="address[address1]" value="{{form.address1}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_address2_{{form.id}}">{{ 'customer.addresses.address2' | t }}</label>
							<input type="text" id="address_address2_{{form.id}}" class="form-control" name="address[address2]" value="{{form.address2}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_city_{{form.id}}">{{ 'customer.addresses.city' | t }}</label>
							<input type="text" id="address_city_{{form.id}}" class="form-control" name="address[city]" value="{{form.city}}" size="40" />
						</div>
						<div class="form-group">
							<label for="address_country_{{form.id}}">{{ 'customer.addresses.country' | t }}</label>
							<select id="address_country_{{form.id}}" name="address[country]" class="form-control"  data-default="{{form.country}}">{{ country_option_tags }}</select>
						</div>
						<div id="address_province_container_{{form.id}}" style="display:none">
							<div class="form-group">
								<label for="address_province_{{form.id}}">{{ 'customer.addresses.province' | t }}</label>
								<select id="address_province_{{form.id}}" class="form-control" name="address[province]" data-default="{{form.province}}"></select>
							</div>
							<div class="form-group">
								<label for="address_zip_{{form.id}}">{{ 'customer.addresses.zip' | t }}</label>
								<input type="text" id="address_zip_{{form.id}}" class="form-control" name="address[zip]" value="{{form.zip}}" size="40" />
							</div>
							<div class="form-group">
								<label for="address_phone_{{form.id}}">{{ 'customer.addresses.phone' | t }}</label>
								<input type="text" id="address_phone_{{form.id}}" class="form-control" name="address[phone]" value="{{form.phone}}" size="40" />
							</div>
							<div class="form-group">
								{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
							</div>
						</div>        
						<div class="action_bottom">
							<input class="btn btn-primary" type="submit" value="{{ 'customer.addresses.update' | t }}" />
							&nbsp;&nbsp;or&nbsp;&nbsp;
							<a href="/" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">{{ 'customer.addresses.cancel' | t }}</a>
						</div>        
						{% endform %}
					</div>
				</div>
				{% endfor %}

				<div id="address_pagination">{{ paginate | default_pagination }}</div>  
				{% endpaginate %}
			</div>
		</div>
	</div> 

	<div class="row">

		<div class="col-sm-8 col-sm-offset-4">
			<a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;" class="add-new-address">{{ 'customer.addresses.add_new' | t }}</a>
			<div id="add_address" class="customer_address edit_address" style="display:none;">
				{% form 'customer_address', customer.new_address %}
				<h4 id="add_address_title">{{ 'customer.addresses.add_new' | t }}</h4>
				<div class="form-group">
					<label for="address_first_name_new">{{ 'customer.addresses.first_name' | t }}</label>
					<input type="text" id="address_first_name_new" class="form-control" name="address[first_name]" value="{{form.first_name}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_last_name_new">{{ 'customer.addresses.last_name' | t }}</label>
					<input type="text" id="address_last_name_new" class="form-control" name="address[last_name]" value="{{form.last_name}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_company_new">{{ 'customer.addresses.company' | t }}</label>
					<input type="text" for="address_company_new" class="form-control" name="address[company]" value="{{form.company}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_address1_new">{{ 'customer.addresses.address1' | t }}</label>
					<input type="text" id="address_address1_new" class="form-control" name="address[address1]" value="{{form.address1}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_address2_new">{{ 'customer.addresses.address2' | t }}</label>
					<input type="text" id="address_address2_new" class="form-control" name="address[address2]" value="{{form.address2}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_city_new">{{ 'customer.addresses.city' | t }}</label>
					<input type="text" id="address_city_new" class="form-control" name="address[city]" value="{{form.city}}" size="40" />
				</div>
				<div class="form-group">
					<label for="address_country_new">{{ 'customer.addresses.country' | t }}</label>
					<select id="address_country_new" name="address[country]" class="form-control" data-default="{{form.country}}">{{ country_option_tags }}</select>
				</div>
				<div id="address_province_container_new" style="display:none">
					<div class="form-group">
						<label for="address_province_new">{{ 'customer.addresses.province' | t }}</label>
						<select id="address_province_new" class="form-control" name="address[province]" data-default="{{form.province}}"></select>
					</div>
					<div class="form-group">
						<label for="address_zip_new">{{ 'customer.addresses.zip' | t }}</label>
						<input type="text" id="address_zip_new" class="form-control" name="address[zip]" value="{{form.zip}}" size="40" />
					</div>
					<div class="form-group">
						<label for="address_phone_new">{{ 'customer.addresses.phone' | t }}</label>
						<input type="text" id="address_phone_new" class="form-control" name="address[phone]" value="{{form.phone}}" size="40" />
					</div>
				</div>
				<div class="form-group">
					{{ form.set_as_default_checkbox }} {{ 'customer.addresses.set_default' | t }}
				</div>
				<div class="action_bottom">
					<input class="btn btn-primary" type="submit" value="{{ 'customer.addresses.add' | t }}" />
					&nbsp;&nbsp;or&nbsp;&nbsp;
					<a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">{{ 'customer.addresses.cancel' | t }}</a>
				</div>
				{% endform %}
			</div>
		</div> 
	</div>


</div>

<script type="text/javascript" charset="utf-8">
// initialize observers on address selectors
new Shopify.CountryProvinceSelector('address_country_new', 'address_province_new', {hideElement: 'address_province_container_new'});  
{% for address in customer.addresses %}
new Shopify.CountryProvinceSelector('address_country_{{address.id}}', 'address_province_{{address.id}}', {hideElement: 'address_province_container_{{address.id}}'});
{% endfor %}
</script>
