<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->  
<head>
	<meta charset="utf-8" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

	<title>
		{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
	</title>

	{% if page_description %}
	<meta name="description" content="{{ page_description | escape }}" />
	{% endif %}

	<link rel="canonical" href="{{ canonical_url }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% include 'open-graph-tags' %}
	{% include 'twitter-card' %}

	{{ content_for_header }}

	{{ 'theme.css' | asset_url | stylesheet_tag }}
	{{ 'royalslider.css' | asset_url | stylesheet_tag }}
	{{ 'rs-default.css' | asset_url | stylesheet_tag }}
	{% comment %}{{ 'social/social-icons.css' | global_asset_url | stylesheet_tag }}{% endcomment %}
	{{ '//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' | stylesheet_tag }}
	{% comment %}{{ '//fast.fonts.net/cssapi/dbc35c04-32cb-46f1-90a3-5b93f8d4063c.css?ver=4.0.1' | stylesheet_tag }}{% endcomment %}


<!--[if lt IE 9]>
{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
<![endif]-->

{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
{% if template contains 'customers' %}  
{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
{% endif %}

<!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
{% comment %}{{ 'shopify_common.js'  | asset_url | script_tag }}{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
<script>jQuery('html').removeClass('no-js').addClass('js');</script>

{% comment %}{% if settings.base_font contains 'Google' %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700">
{% endif %}

{% if settings.header_font contains 'Google' %}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700">
{% endif %}{% endcomment %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">

	
	{% include 'header' %}

	<div class="container">

		{% include 'main-menu' %}

		{% include 'breadcrumb' %}

		{{ content_for_layout}}

		{% include 'footer' %}

	</div>

{% comment %}{{ 'jquery.flexslider-min.js' | asset_url | script_tag }}

{% if settings.enable_product_image_zoom %}
{{ 'jquery.zoom.js' | asset_url | script_tag }}
{% endif %}
{{ 'jquery.tweet.js' | asset_url | script_tag }}
{{ 'jquery.fancybox.js' | asset_url | script_tag }}{% endcomment %}

{{ 'bootstrap.min.js' | asset_url | script_tag }}
{{ 'jquery.royalslider.min.js' | asset_url | script_tag }}

{% include 'currencies' %}

<script>
jQuery(document).ready(function($) {
    $(".royalSlider").royalSlider({
    	// general options go gere
    	autoScaleSlider: true,
    	imageAlignCenter: true,
    	imageScaleMode: 'fit-if-smaller',
    	controlNavigation: 'thumbnails',
    	thumbs: {
    		// thumbnails options go gere
    		arrowsAutoHide: true
    	}
    });  
});
</script>


</body>
</html>