<div id="cart">
	<div class="page-header">
		<h1 class="cart-header">{{ cart.item_count }} items in your basket</h1>
	</div>

	{% if cart.item_count > 0 %}

	<form action="/cart" method="post">
		<div class="cart-item-header">
			<div class="row">
				<div class="col-sm-7 col-xs-8">
					Product Description
				</div>
				<div class="col-sm-2 hidden-xs">
					Regular Price
				</div>
				<div class="col-sm-1 hidden-xs">
					QTY
				</div>
				<div class="col-sm-2 col-xs-4">
					Total Price
				</div>
			</div>
		</div>

		{% for item in cart.items %}    
		<div class="cart-item">
			<div class="row">
				<div class="col-sm-7 col-xs-5">
					<div class="media">
						<div class="media-left hidden-xs">
							<a href="{{ item.product.url }}">
								<img class="media-object" src="{{ item.product.featured_image.src | product_img_url: 'thumb' }}" alt="{{ item.title | escape }}">
							</a>
						</div>
						<div class="media-body">
							<h5 class="cart-item-title"><a href="{{ item.product.url | within: collections.all }}">{{ item.title }}</a></h5>
						</div>
					</div>
				</div>
				<div class="col-sm-2 hidden-xs">
					<h5>{{ item.price | money }}</h5>
				</div>
				<div class="col-sm-1 col-xs-3">
					<input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" class="form-control item-qty" />
				</div>
				<div class="col-sm-2 col-xs-4">
					<a class="close" href="/cart/change?line={{ forloop.index }}&quantity=0">&times;</a>
					<h5>{{ item.line_price | money }}</h5>
				</div>
			</div>
		</div>
		{% endfor %}

		<div class="row">
			<div class="cart-options col-md-6 col-md-offset-6">
				<h3>Subtotal: {{ cart.total_price | money }}</h3>
				
				<div class="row">
					<div class="col-sm-5 form-group">
						<input type="submit" name="update" value="Update cart" class="btn btn-default btn-block" />
					</div>
					<div class="col-sm-7 form-group">
						<input type="submit" name="checkout" value="Proceed to Check out" class="btn btn-primary btn-block"/>
					</div>
				</div>

				{% if additional_checkout_buttons %}
				<p class="additional-checkout-buttons">
					{{ content_for_additional_checkout_buttons }}
				</p>
				{% endif %}

			</div>
		</div>

	</form>

	{% else %}

	<div>
		<h2>It appears that your cart is currently empty!</h2>
		<h4>You can continue browsing <a href="/collections/all">here</a>.</h4>
	</div>

	{% endif %}	
</div>