<div id="collection">

	{% paginate collection.products by settings.pagination_limit %}


	<div class="row">

		<div class="col-md-3">
			
			{% include 'collection-sidebar' %}
			
		</div>

		<div class="col-md-9">
			<div>
				<h2 class="collection-title">{{ collection.title }}</h2>
				{% if collection.description.size > 0 %}
				<p>
					{{ collection.description }}
				</p>
				{% endif %}
			</div>

			<hr>

			<div class="row">
				<div class="col-sm-3 col-xs-6 total-products">
					{{ collection.products_count }} {{ collection.products_count | pluralize: 'Item', 'Items' }} found
				</div>
				<div class="col-xs-6 col-sm-3 col-sm-offset-6">
					{% if collection.products_count > 1 %}
					<select id="sort-by" class="form-control">
						<option value="manual">Featured</option>
						<option value="price-ascending">Price: Low to High</option>
						<option value="price-descending">Price: Hight to Low</option>
						<option value="title-ascending">A-Z</option>
						<option value="title-descending">Z-A</option>
						<option value="created-ascending">Oldest to Newest</option>
						<option value="created-descending">Newest to Oldest</option>
						<option value="best-selling">Best Selling</option>
					</select>
					{% endif %}
				</div>
			</div>

			<div class="row">
				{% for product in collection.products %}
				{% include 'product-loop' with 'col-sm-4' %}
				{% else %}
				<p>There are no products in this view.</p>
				{% endfor %}
			</div>

			{% if paginate.pages > 1 %}
			<div class="paginate">
				{{ paginate | default_pagination }}
			</div>
			{% endif %}

		</div>
	</div>

	{% endpaginate %}

</div>

{% comment %}script to Sort by products{% endcomment %}
<script>
	Shopify.queryParams = {};
	if (location.search.length) {
		for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
			aKeyValue = aCouples[i].split('=');
			if (aKeyValue.length > 1) {
				Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
			}
		}
	}
	jQuery('#sort-by')
	.val('{{ collection.sort_by | default: collection.default_sort_by | escape }}')
	.bind('change', function() {
		Shopify.queryParams.sort_by = jQuery(this).val();
		location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
	});
</script>