{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
<!-- Begin slider -->
<div class="span12 border-bottom p30">
	<div class="flexslider-container">
		<div class="flexslider">
			<ul class="slides">
				{% for i in (1..4) %}
				{% capture show_slide %}slide_{{ i }}{% endcapture %}
				{% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
				{% capture link %}slide_{{ i }}_link{% endcapture %}
				{% capture alt %}slide_{{ i }}_alt{% endcapture %}
				{% if settings[show_slide] %}
				<li>
					<a href="{{ settings[link] }}">
						<img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
					</a>
				</li>
				{% endif %}
				{% endfor %}
			</ul>
			<div class="flex-controls"></div>
		</div>
	</div>
</div>
<!-- End slider -->
{% endif %}

<div class="row">
	<div class="col-6">
		<div class="margin-bottom">
			
			<div id="home-slider" class="royalSlider rsDefault">
				<!-- simple image -->
				<a href="#">
					<img class="rsImg img-responsive" src="http://fakeimg.pl/730x500/f5f5f5/ccc/" alt="image description" />
				</a>

				<!-- lazy loaded image-->
				<a class="rsImg" href="http://fakeimg.pl/730x500/f5f5f5/ccc/">image description</a>

			</div>
		</div>
	</div>
	<div class="col-4 hidden-xs">
		<div class="row">
			<div class="col-md-12 col-xs-6">
				<div class="margin-bottom">
					<img class="img-responsive" src="http://fakeimg.pl/390x200/f5f5f5/ccc/">
				</div>
			</div>
			<div class="col-md-12 col-xs-6">
				<div class="margin-bottom">
					<img class="img-responsive" src="http://fakeimg.pl/390x200/f5f5f5/ccc/">
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div>
		<h2>{{ pages[settings.homepage].title }}</h2>
		{{ pages[settings.homepage].content }}
	</div>
</section>

<!-- Featured products -->
<section class="section">
	<div class="row">
		<header class="collection-header">
			<h2 class="collection-header-title">{{ collections.frontpage.title }}</h1>
			</header>
			{% for product in collections.Frontpage.products limit:4 %}
			{% include 'product-loop' with 'col-sm-3 col-xs-6' %}
			{% endfor %}
		</div>
	</section>
	<!-- End products -->

