<div class="row">
	<div class="col-6">
		<div class="margin-bottom">
			
		{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
			<div id="home-slider" class="royalSlider rsDefault">
				{% for i in (1..4) %}
				{% capture show_slide %}slide_{{ i }}{% endcapture %}
				{% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
				{% capture link %}slide_{{ i }}_link{% endcapture %}
				{% capture alt %}slide_{{ i }}_alt{% endcapture %}
				{% if settings[show_slide] %}
				<a href="{{ settings[link] }}">
					<img class="rsImg img-responsive" src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
				</a>
				{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		</div>
	</div>
	<div class="col-4 hidden-xs">
		<div class="row">
			<div class="col-md-12 col-xs-6">
				<div class="margin-bottom">
					<a href="products/cones-black-gold-vermeil-earrings-with-white-cz-pave">
						<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0800/2449/files/390x200-COSMOPOLITAN-KARDASHIAN-ISSUE.jpg?1361127689202473963">
					</a>
				</div>
			</div>
			<div class="col-md-12 col-xs-6">
				<div class="margin-bottom">
					<a href="https://instagram.com/galleria_armadoro/" target="_blank">
						<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/0800/2449/files/390x200-1st-banner.jpg?1361127689202473963">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section">
	<div>
		<h2>{{ pages[settings.homepage].title }}</h2>
		{{ pages[settings.homepage].content }}
	</div>
</section>

<!-- Featured products -->
<section class="section">
	<div class="row">
		<header class="collection-header">
			<h2 class="collection-header-title">{{ collections.frontpage.title }}</h1>
			</header>
			{% for product in collections.Frontpage.products limit:4 %}
			{% include 'product-loop' with 'col-sm-3 col-xs-6' %}
			{% endfor %}
		</div>
	</section>
	<!-- End products -->

