<div class="margin-bottom">	
	{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
	<div id="home-slider" class="royalSlider rsDefault">
		{% for i in (1..4) %}
		{% capture show_slide %}slide_{{ i }}{% endcapture %}
		{% capture slide_image %}slideshow_{{ i }}.jpg{% endcapture %}
		{% capture slide_link %}slide_{{ i }}_link{% endcapture %}
		{% capture slide_alt %}slide_{{ i }}_alt{% endcapture %}
		{% if settings[show_slide] %}
		<a href="{{ settings[slide_link] }}">
			<img class="rsImg" src="{{ slide_image | asset_url }}" alt="{{ settings[slide_alt] | escape }}" />
		</a>
		{% endif %}
		{% endfor %}
	</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0">
		<div class="margin-bottom">
			{% if settings.banner_1 != false %}
				{% capture show_banner %}banner_1{% endcapture %}
				{% capture banner_image %}banner_1.jpg{% endcapture %}
				{% capture banner_link %}banner_1_link{% endcapture %}
				{% capture banner_alt %}banner_1_alt{% endcapture %}
				{% if settings[show_banner] %}
					<a href="{{ settings[banner_link] }}">
						<img class="img-responsive" src="{{ banner_image | asset_url }}" alt="{{ settings[banner_alt] | escape }}" />
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0">
		<div class="margin-bottom">
			<div id="instafeed" class="row"></div>
			<a href="https://www.instagram.com/galleria_armadoro/" class="instagram-desc" target="_blank">
				<span>Find us on Instagram</span><br>
				<span class="instagram-user">@galleria_armadoro</span>
			</a>
		</div>
	</div>
	<div class="col-md-4 col-sm-8 col-sm-offset-2 col-md-offset-0">
		<div class="margin-bottom">
			{% if settings.banner_2 != false %}
				{% capture show_banner %}banner_2{% endcapture %}
				{% capture banner_image %}banner_2.jpg{% endcapture %}
				{% capture banner_link %}banner_2_link{% endcapture %}
				{% capture banner_alt %}banner_2_alt{% endcapture %}
				{% if settings[show_banner] %}
					<a href="{{ settings[banner_link] }}">
						<img class="img-responsive" src="{{ banner_image | asset_url }}" alt="{{ settings[banner_alt] | escape }}" />
					</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>

<section class="section">
	<div>
		<h2>{{ pages[settings.homepage].title }}</h2>
		{{ pages[settings.homepage].content }}
	</div>
</section>

<!-- Featured products -->
<section class="section">
	<div class="row">
		<header class="collection-header">
			<h2 class="collection-header-title">{{ collections.frontpage.title }}</h1>
			</header>
			{% for product in collections.Frontpage.products limit:4 %}
			{% include 'product-loop' with 'col-sm-3 col-xs-6' %}
			{% endfor %}
		</div>
	</section>
	<!-- End products -->

