<div id="page">

	<div class="page-header">
		<h2>{{ page.title }}</h2>
	</div>

	<div class="row">
		<div class="col-md-3 hidden-xs">
			<ul class="nav-side">
				<li class="nav-header">More About us</li>
				{% for link in linklists.toolbar-menu.links %}
				<li {% if link.active %}class="active"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
			<ul class="nav-side">
				<li class="nav-header">
					{{settings.footer_display_navigation_title}}
				</li>
				{% for link in linklists.footer.links %}
				<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>	
		<div class="col-md-9">
			<p>{{ page.content }}</p>
		</div>	
	</div>


</div>