<div id="customer_orders">
	
	<div class="page-header">
		<h2>My orders</h2>
	</div>

	{% if customer.orders.size != 0 %}
	<table class="table">
		<thead>
			<tr>
				<th class="order_number">{{ 'customer.orders.order_number' | t }}</th>
				<th class="date">{{ 'customer.orders.date' | t }}</th>
				<th class="payment_status">{{ 'customer.orders.payment_status' | t }}</th>
				<th class="fulfillment_status">{{ 'customer.orders.fulfillment_status' | t }}</th>
				<th class="total">{{ 'customer.orders.total' | t }}</th>
			</tr>
		</thead>
		<tbody>
			{% for order in customer.orders %}
			<tr class="{% cycle 'odd', 'even' %} {% if order.cancelled %}cancelled_order{% endif %}">
				<td>{{ order.name | link_to: order.customer_url }}</td>
				<td><span class="note">{{ order.created_at | date: format: 'short' }}</span></td>
				<td><span class="status_{{ order.financial_status }}">{{ order.financial_status_label }}</span></td>
				<td><span class="status_{{ order.fulfillment_status }}">{{ order.fulfillment_status_label }}</span></td>
				<td><span class="total money">{{ order.total_price | money }}</span></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<p><a href="/account">Return to Account Details</a></p>
	
	{% else %}
	
	<p>{{ 'customer.orders.none' | t }}</p>
	
	{% endif %}
</div>