<div id="searchresult">

	{% if search.performed %}

	<div class="page-header">
		<h1>{{ search.results_count }} Results found for "{{ search.terms }}"</h1>
	</div>
	
	{% paginate search.results by 10 %}

	{% if search.results_count == 0 %}  

	<p class="centered">Your search for "{{ search.terms }}" did not yield any results.</p>              

	{% else %}

	<ol class="list-unstyled">
		{% for item in search.results %}    
		<li>
			<div class="media">
				{% if item.vendor %}
				<div class="media-left">
					<a href="{{ item.url }}" title="{{ item.title | escape }}">
						{{ item | img_url: 'small' | img_tag: item.featured_image.alt, 'media-object' }}
					</a>
				</div>
				{% endif %}
				<div class="media-body">
					<h4><a href="{{item.url}}">{{ item.title | highlight: search.terms }}</a></h4>
					<p>{{ item.content | strip_html | truncatewords: 40 | highlight: search.terms }}</p>
				</div>
			</div>
		</li>
		<li><hr></li>
		{% endfor %}
	</ol>
	{% endif %}    

	{% if paginate.pages > 1 %}
	<div id="pagination">
		{{ paginate | default_pagination }}
	</div>
	{% endif %}

	{% endpaginate %}    

	{% endif %}  

</div>